body {
	background-color: #000;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	color: #00ff00;
	text-align: center;
	margin-bottom: 50px;
}

p {
	font-family: 'Press Start 2P', cursive;
	color: #00ff00;
	text-align: center;
}